<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
            id="com.genuitec.mobione.phoneui" version="0.2.5">
        <name>Mobione</name>
        <description>Mobione Phoneui Framework</description>
        <license>Apache 2.0</license>
        <author>Genuitec LLC</author>

        <repo>https://github.com/genuitec-mobione/mobione-plugin.git</repo>

        
        <keywords>mobione,phoneui</keywords>
        
        <js-module src="www/mobione.js" name="mobione">
        </js-module>
        
        <engines>
            <engine name="cordova" version=">=3.0.0" />
        </engines>
        
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="MobiOne">
                    <param name="ios-package" value="MobiOnePlugin" />
                </feature>
            </config-file>

            <header-file src="src/ios/MobiOnePlugin.h" />
            <source-file src="src/ios/MobiOnePlugin.m" />
            
            <framework src="MediaPlayer.framework" weak="true" />
        </platform>

        <platform name="android">
            <config-file target="res/values/strings.xml" parent="/*">
                <string name="start_page">index.html</string>
            </config-file>
            
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="MobiOne" >
                    <param name="android-package" value="com.genuitec.mobione.android.MobiOnePlugin"/>
                    <param name="onload" value="true" />
                </feature>

            </config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest/application">

                <!-- <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" /> -->
                <activity
                    android:name="com.genuitec.mobione.android.PlayVideoActivity"
                    android:configChanges="orientation|keyboardHidden"
                    android:label="AndroidTemplate"
                    android:screenOrientation="unspecified" 
                    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
                    <intent-filter>
                    </intent-filter>
                </activity>
            </config-file>



            <source-file src="src/android/com/genuitec/mobione/android/MobiOnePlugin.java" 
                  target-dir="src/com/genuitec/mobione/android/" />

            <source-file src="src/android/com/genuitec/mobione/android/PlayVideoActivity.java" 
                  target-dir="src/com/genuitec/mobione/android/" />
                        
        </platform>
        

</plugin>
